<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{fragments :: head}"></head>
<body>
	<header th:insert="~{fragments :: navbar}"></header>
	<main class="form-signin text-center">
		<div th:if="${param.error}">Invalid username and password.</div>
		<div th:if="${param.logout}">You have been logged out.</div>
		<form th:action="@{/}" method="post" sec:authorize="!isAuthenticated()">
			<h1 class="h3 mb-3 fw-normal">Please sign in (with user and
				password)</h1>

			<div class="form-floating">
				<input type="text" class="form-control" name="username"
					id="floatingInput" placeholder="Username"> <label
					for="floatingInput">Name</label>
			</div>
			<div class="form-floating">
				<input type="password" class="form-control" name="password"
					id="floatingPassword" placeholder="Password"> <label
					for="floatingPassword">Password</label>
			</div>

			<button class="w-100 btn btn-lg btn-primary" type="submit">Sign
				in</button>
			<p class="mt-5 mb-3 text-muted">2021–2022</p>
		</form>
		<div sec:authorize="isAuthenticated()">
			<h1 class="h3 mb-3 fw-normal">Now you can go to list</h1>
			<a class="w-100 btn btn-primary" href="#" th:href="@{/list}" role="button">List</a>
		</div>
	</main>

</body>
</html>