<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: head}"></head>
<body>
	<header th:insert="~{fragments :: navbar}"></header>

	<main class="container row">
		<div class="alert alert-danger" role="alert"
			th:classappend="${found} ? 'invisible' : 'visible'">The
			indicated cocktails doesn't exists!</div>
		<article class="blog-post"
			th:classappend="${found} ? 'visible' : 'invisible'">
			<h2 class="blog-post-title" th:text="${cocktail.name}">Title</h2>
			<hr>
			<h3>Ingredients</h3>
			<p th:text="${cocktail.ingredients}">This is some additional
				paragraph placeholder content. It's a slightly shorter version of
				the other highly repetitive body text used throughout. This is an
				example unordered list:</p>
			<h3>Instructions</h3>
			<p th:text="${cocktail.instruccions}">This is some additional
				paragraph placeholder content. It's a slightly shorter version of
				the other highly repetitive body text used throughout. This is an
				example unordered list:</p>
			<div class="col-auto d-none d-lg-block center-block">
				<img th:src="${cocktail.urlThumb}" width="500" height="500"
					role="img" aria-label="Placeholder: Thumbnail"
					preserveAspectRatio="xMidYMid slice" focusable="false">
			</div>
		</article>
	</main>
</body>
</html>
